.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #343e4d;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  color: #033b03;
  background: #a5c0a5;
}
