<div class="content" role="main">
  <div *ngIf="!reportReady; else report">
    <form (ngSubmit)="onSubmit()" [formGroup]="backupForm">
      <div class="card-container">
        <mat-form-field appearance="outline">
          <mat-label>Media Type</mat-label>
          <mat-select required formControlName="mediaType">
            <mat-option *ngFor="let mediaType of mediaTypes" [value]="mediaType">
              {{mediaType.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="mediaTypeControl.hasError('required')">Please choose a media type</mat-error>
        </mat-form-field>
      </div>
      <div class="card-container">
        <mat-form-field appearance="outline">
          <mat-label>Source Device</mat-label>
          <mat-select required formControlName="sourceDevice">
            <mat-option *ngFor="let sourceDevice of sourceDevices" [value]="sourceDevice">
              {{sourceDevice.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="sourceDeviceControl.hasError('required')">Please choose a Device</mat-error>
        </mat-form-field>
        <div class="source-target-arrow">
          <mat-icon>arrow_circle_right</mat-icon>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Target Device</mat-label>
          <mat-select required formControlName="targetDevice">
            <mat-option *ngFor="let targetDevice of targetDevices" [value]="targetDevice">
              {{targetDevice.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="sourceDeviceControl.hasError('required')">Please choose a Device</mat-error>
        </mat-form-field>
      </div>

      <div class="card-container">
        <mat-spinner [diameter]="20" *ngIf="showSpinner() | async" class="spinner"></mat-spinner>
        <button mat-raised-button type="submit" [disabled]="backupForm.invalid || backupForm.pending">
          Launch Backup
        </button>
      </div>
    </form>
  </div>
  <ng-template #report>
    <h3>Backup Report</h3>
    <div>
      <app-files-details [title]="'Successful'" [files]="processedFiles"
                         [displayedColumns]="displayedColumns"></app-files-details>
      <app-files-details [title]="'In error'" [files]="erroredFiles"
                         [displayedColumns]="displayedColumns"></app-files-details>
    </div>
    <div class="card-container">
      <button mat-raised-button type="submit" (click)="onNewBackupClick()">New Backup</button>
    </div>
  </ng-template>
</div>

<router-outlet></router-outlet>
