ACTION=="add", ENV{ID_FS_UUID}=="106B-FF6A", RUN+="/bin/bash -c 'touch /opt/mfb/udev/USB_%E{ID_FS_UUID}'"
ACTION=="add", ENV{ID_FS_UUID}=="C04CADE94CADDA84", RUN+="/bin/bash -c 'touch /opt/mfb/udev/USB_%E{ID_FS_UUID}'"
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="2a70", ATTR{idProduct}=="f003", MODE="0666", RUN+="/bin/bash -c 'touch /opt/mfb/udev/OTP_%s{idProduct}'"